#drop-area {
	border-color: var(--bs-primary);
	border-width: 3px;
	border-style: dotted;
	transition: all 0.2s ease;
}
#camera-preview {
	max-width: 100%;
	max-height: 50%;
	object-fit: contain;
}
.qr-height-300px { height: 300px; }
.qr-zindex-2048 { z-index: 2048; }
.qr-zindex-2047 { z-index: 2047; }
.qr-zindex-2046 { z-index: 2046; }
